<div >
  <div>
    <h2 class="header-name">MALKAKULAGE SUNIMAL SUHADA KIRANA</h2>
  </div>
  <mat-divider style="margin: 0 10px 0 10px;display: flex;"></mat-divider>
  <div style="margin: 10px 10px 10px 10px">
      <app-education-component></app-education-component>
  </div>
  <div style="margin: 10px 10px 10px 10px">
    <app-experience-component></app-experience-component>
  </div>
  <div style="display: flex">
    <div style="margin: 10px 10px 10px 10px;">
      <app-logocard-component [alternative]="'Angular'"  [imageUrl]="'/sunimalMal.github.io/assets/img/angular.png'" ></app-logocard-component>
    </div>
    <div style="margin: 10px 10px 10px 10px;">
      <app-logocard-component [alternative]="'SpringBoot'"  [imageUrl]="'/sunimalMal.github.io/assets/img/springboot.png'" ></app-logocard-component>
    </div>
    <div style="margin: 10px 10px 10px 10px;">
      <app-logocard-component [alternative]="'Html/CSS/Js'"  [imageUrl]="'/sunimalMal.github.io/assets/img/htmlcss.png'" ></app-logocard-component>
    </div>
    <div style="margin: 10px 10px 10px 10px;">
      <app-logocard-component [alternative]="'mongo'"  [imageUrl]="'/sunimalMal.github.io/assets/img/mongo.png'" ></app-logocard-component>
    </div>
    <div style="margin: 10px 10px 10px 10px;">
      <app-logocard-component [alternative]="'material'"  [imageUrl]="'/sunimalMal.github.io/assets/img/materialdesign.jpg'" ></app-logocard-component>
    </div>
  </div>
</div>
